@use '../custom' as *;

.pagination {
  margin: 0 0 6rem 0;

  ul {
    list-style: none;
    display: flex;
  }

  .page-item {
    margin: 0.5rem;
  }

  .page-link {
    background: none;
    color: #fff; // Change text color
    padding: 10px 20px;
    cursor: pointer;
  }

  .page-item.disabled {
    .page-link {
      background: none;
      color: #666;
    }
  }
}